@{
    ViewBag.Title = "AddEditProfile";
}

<link href="~/StyleSheets/AddEditProfile.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row">

        @*@Html.Partial("_PartialProfile")*@
    </div>
</div>
