@{
    ViewBag.Title = "AllProfiles";
}

@section Styles
{
    <link href="~/StyleSheets/AllProfiles.css" rel="stylesheet" />
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#">All Profiles</a></li>
            </ul>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12">
            <div class="panel-group">
                <ul class="list-inline" data-bind="foreach: users()">
                    <li>
                        <a data-bind="attr: {href: my.rootUrl + '/Profile/UserProfile?userId=' + UserId}">
                            <div data-bind="css: { 'panel-success': IsTrainer, 'panel-info': IsTrainee, 'panel-danger': IsManager}"
                                 class="panel" style="width:250px">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <img data-bind="attr: {src: PhotoUrl}" class="img-responsive img-circle profile-img">
                                        </div>
                                        <div class="col-lg-8">
                                            <div data-bind="text: FirstName"class="username"></div>
                                            <div data-bind="text: Designation"class="designation"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/Custom/App.js"></script>
    <script src="~/Scripts/Custom/AjaxService.js"></script>
    <script src="~/Scripts/Custom/UserService.js"></script>
    <script src="~/Scripts/Custom/AllProfile.js"></script>
}
