@{
    ViewBag.Title = "AllProfiles";
}
<link href="~/StyleSheets/AllProfiles.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#">All Profiles</a></li>
               @* <li><a href="#">Trainers</a></li>
                <li><a href="#">Trainees</a></li>
                <li class="col-sm-3 col-md-3 pull-right">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </li>*@
                @*<li class="pull-right">
                    <button data-bind="click: showTrainers"
                            class="btn btn-primary" type="submit">
                        Add User  <i class="glyphicon glyphicon-plus"></i>
                    </button>
                    </li>*@
            </ul>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">
            <div class="panel-group">
                <ul class="list-inline" data-bind="foreach: users">
                    <li>
                        <a data-bind="attr: {href: my.rootUrl + '/Profile/UserProfile?userId=' + UserId}">
                            <div data-bind="css: { 'panel-success': IsTrainer, 'panel-info': IsTrainee, 'panel-danger': IsManager}"
                                 class="panel" style="width:250px">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <img data-bind="attr: {src: PhotoUrl}"
                                                 class="img-responsive img-circle profile-img">
                                        </div>
                                        <div class="col-lg-8">
                                            <div data-bind="text: FirstName"
                                                 class="username"></div>
                                            <div data-bind="text: Designation"
                                                 class="designation"></div>
                                            @*<div class="designation">FAST</div>*@
                                        </div>
                                    </div>
                                    @*<div class="row">
                                    FAST
                                </div>*@
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            </div>
        </div>
</div>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/knockout-3.4.0.js"></script>
<script src="~/Scripts/Custom/App.js"></script>
<script src="~/Scripts/Custom/AjaxService.js"></script>
<script src="~/Scripts/Custom/UserService.js"></script>
<script src="~/Scripts/Custom/AllProfile.js"></script>


@*<li>
        <div class="panel panel-primary" id="lnkPanel">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-12">
                        <img src="http://images.desimartini.com/media/versions/main/gallery/2016-1/e717cec7-002b-4a15-be10-d87caa4b2603_gallery_image_300_300.jpg"
                             class="img-responsive img-circle profile-img">
                        <div class="username">Harsh Wardhan</div>
                        <div class="designation">Sr. Software Developer</div>
                    </div>
                </div>
            </div>
        </div>
    </li>*@