@{
    Layout = "";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link id="linkRootUrl" href="~/" />
    <link href="~/StyleSheets/Login.css" rel="stylesheet" />
    <title>Login</title>
</head>
<body>
    <div class="login-page">
        <div class="form">
            <form>
                <input data-bind="value:userName" type="text" placeholder="username" />
                <input data-bind="value:password" type="password" placeholder="password" />
                <button data-bind="click:authenticateUser">login</button>
            </form>
            <br />
            <label data-bind="text:validationMessage" class="validation-error"></label>
        </div>
    </div>
</body>
</html>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/knockout-3.4.0.js"></script>
<script src="~/Scripts/Custom/App.js"></script>
<script src="~/Scripts/Custom/AjaxService.js"></script>
<script src="~/Scripts/Custom/UserService.js"></script>
<script src="~/Scripts/Custom/Login.js"></script>