body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
}

p {
    margin: 1em !important
}


.profile-img {
    height: 150px;
    width: 150px;
    display: block;
    margin: auto;
}

.username {
    text-align: center;
    margin-top: 10px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    /*color: azure;*/
}

.designation {
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
}

.comment-div {
    padding-bottom: 10px;
}


.comment-send {
    vertical-align: top;
    padding-top: 5px;
}

.validation-error {
    display: inline-block;
    padding-top: 15px;
    padding-left: 5px;
    color: red;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.feedback-input {
    padding:4px 0 0 4px;
}

.feedback-radio {
    padding-right:5px;
    padding-left:5px;
}

.rating-slow {
    color: red;
}

.rating-Average {
    color: orange;
}

.rating-Fast {
    color: blue;
}

.rating-Exceptional {
    color: green;
}

.collapsed .custom-glyph:before {
    content: "\e080" !important ;
}

/*Yellow Button************************************************************/


/*************************************************************/


.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 5px;
}

.panel-white {
    border: 1px solid #dddddd;
    margin-bottom: 10px;
}

    .panel-white .panel-heading {
        color: #333;
        background-color: #fff;
        border-color: #ddd;
    }

    .panel-white .panel-footer {
        background-color: #fff;
        border-color: #ddd;
    }

.post .post-heading {
    height: 95px;
    padding: 15px 15px;
}


    .post .post-heading .avatar {
        width: 50px;
        height: 60px;
        display: block;
        margin-right: 15px;
    }

.post .post-heading .meta .title {
    margin-bottom: 0;
}

 .post .post-heading .meta .title a {
     color: black;
 }

 .post .post-heading .meta .title a:hover {
     color: #aaaaaa;
 }

.post .post-heading .meta .time {
    margin-top: 8px;
    color: #999;
}

.post .post-image .image {
    width: 100%;
    height: auto;
}

.post .post-description {
    padding-right: 15px;
    padding-left: 15px;
}

.post .post-description p {
    font-size: 14px;
}

.post .post-description .stats {
    margin-top: 20px;
}

.post .post-description .stats .stat-item {
    display: inline-block;
    margin-right: 15px;
}

.post .post-description .stats .stat-item .icon {
    margin-right: 8px;
}

.post .post-footer {
    border-top: 1px solid #ddd;
    padding: 10px;
}

.post .post-footer .input-group-addon a {
    color: #454545;
}

.post .post-footer .comments-list {
    padding: 0;
    margin-top: 20px;
    list-style-type: none;
}

.post .post-footer .comments-list .comment {
    display: block;
    width: 100%;
    margin: 20px 0;
}

.post .post-footer .comments-list .comment .avatar {
    width: 35px;
    height: 35px;
}

.post .post-footer .comments-list .comment .comment-heading {
    display: block;
    width: 100%;
}

.post .post-footer .comments-list .comment .comment-heading .user {
    font-size: 14px;
    font-weight: bold;
    display: inline;
    margin-top: 0;
    margin-right: 10px;
}

.post .post-footer .comments-list .comment .comment-heading .time {
    font-size: 12px;
    color: #aaa;
    margin-top: 0;
    display: inline;
}

.post .post-footer .comments-list .comment .comment-body
{
    margin-left: 50px;
}

.post .post-footer .comments-list .comment > .comments-list
{
    margin-left: 50px;
}

#divFeedbackChart .post-heading {
    display: table;
    height: 100%;
        width: 100%;
}
#divFeedbackChart .btn {
    padding: 2px 12px;
    margin-top: 10px;
}
/*Custom checkbox*/
.custom-checkbox
{
    position: relative;
    display: inline-block;
    float: left;
    padding-right: 5px;
}

 .custom-checkbox > .box
 {
     position: relative;
     display: block;
     width: 20px;
     height: 20px;
     border: 1px solid #838383;
     background-color: #ffffff;
     border-radius: 10px;
 }

 .custom-checkbox > .box > .tick
 {
     display: none;
         width: 14px;
    height: 14px;
    border-radius: 7px;
    position: absolute;
    top: 2px;
    box-shadow: inset 14px 4px 8px #838383;
    left: 2px;
 }

 .custom-checkbox > input:checked + .box > .tick
 {
     display: block;
 }

 .custom-checkbox > input
 {
     position: absolute;
     outline: none;
     top: 0;
     padding: 0;
     width: 16px;
     height: 16px;
     border: none;
     margin: 0;
     opacity: 0;
     z-index: 1;
     width: 50px;
 }

 .custom-checkbox > input:active + .box
 {
     border-color: #838383;
     background-color: #ffffff;
 }

.label-for-checkbox
{
    display: inline-block;
}

 .custom-top-bottom-padding {
     padding: 15px 0 15px 0;
     display: table;
     width: 100%;
 }

 #divWeeklyComment {
         top: 7vh;
      -webkit-transition: all .3s ease .15s;
    -moz-transition: all .3s ease .15s;
    -o-transition: all .3s ease .15s;
    -ms-transition: all .3s ease .15s;
    transition: all .3s ease .15s;
 }

 #divWeeklyComment .modal-content > .modal-body .modal-body:last-child {
     border-bottom: none;
 }

 div#WzTtDiV {
    border-radius: 15px;
    text-align: center;
    color: #fff;
    background: black!important;
     padding: 5px !important;
  
}

 td#WzBoDyI {
     text-align: center !important;
 }

 .btn:focus {
      outline: none;
 }

 #feedbackSection .weekly-feedback  code, #divWizardFeedbackPreview .weekly-feedback  code
{
     padding:0;
     color: black; 
     background-color: #fff; 
         white-space: pre-line;
}

#feedbackSection .weekly-feedback code label,#divWizardFeedbackPreview .weekly-feedback code label {
    display: block;
    font: inherit;
    font-size: 14px;
}


#feedbackSection .weekly-feedback code .feedback-question label,#divWizardFeedbackPreview .weekly-feedback code .feedback-question label {
    font-size: 17px;
}

#feedbackSection .weekly-feedback code .feedback-answer label,#divWizardFeedbackPreview .weekly-feedback code .feedback-answer label {
              margin-bottom: 5px;
    font-size: 14px;
    margin-left: 1%;
    color: green;
}
#feedbackSection .weekly-feedback code .feedback-answer label:before,#divWizardFeedbackPreview .weekly-feedback code .feedback-answer label:before {
     content: "- ";
}


#feedbackSection .weekly-feedback code .feedback-notes>label,#divWizardFeedbackPreview .weekly-feedback code .feedback-notes>label,#divSurveyCodeReview  .feedback-notes li {
    margin-left: 3%;
    margin-bottom: 5px;
    padding: 5px 5px 5px 5px;
    background-color: #FFF8DC;
    border-left: 3px solid #ffeb8e;
}

#divSurveyCodeReview  .feedback-notes li {
    margin-left: 0; 
}


#divSurveyCodeReview  .feedback-notes {
    padding: 0px 0 0px 30px;
}

#feedbackSection .weekly-feedback code .feedback-notes label q,#divWizardFeedbackPreview .weekly-feedback code .feedback-notes label q {
  quotes: "“" "”" "‘" "’";
}
#feedbackSection .weekly-feedback code .feedback-notes label q:before,#divWizardFeedbackPreview .weekly-feedback code .feedback-notes label q:before {
    content: open-quote;
}
#feedbackSection .weekly-feedback code .feedback-notes label q:after,#divWizardFeedbackPreview .weekly-feedback code .feedback-notes label q:after {
    content: close-quote;
}

#feedbackSection #divSurveyCodeReview li,#divWizardFeedbackPreview #divSurveyCodeReview li {
    list-style: none;
    font-size: 14px;
}

#wizard .steps li.last  a:before {
    content: "\e003";
    display: inline-block;
    position: relative;
    top: 1px;
    /* display: inline-block; */
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

#wizard .steps li.last  a span {
    display: none;
}

div#divReviewcollapasable .tab-wrap,div#divWeeklyReviewcollapasable .tab-wrap {
           width: 100%;
    display: inline-block;
    min-height: 40px;   
}

div#divReviewcollapasable .tab-wrap > div,div#divWeeklyReviewcollapasable .tab-wrap > div {
      width: 100%;
}
          
div#divReviewcollapasable .tab-wrap>div:nth-child(2) span::after,div#divWeeklyReviewcollapasable .tab-wrap div:nth-child(2) >span::after,div#divWeeklyReviewcollapasable .tab-wrap:nth-child(1)>div:nth-child(1)>span::after {
       /* height: 54px; */
    width: 80%;
    margin-left: 10%;
    display: block;
    /* background-color: red; */
    content: "";
    border-bottom: 2px solid;
   
    position: relative;
    top: 100%;
    
}     
div#divWeeklyReviewcollapasable .tab-wrap:nth-child(2)>div:nth-child(1)>span:nth-child(2)::before {
    position: absolute;
    content: "Exceptional"
}

div#divReviewcollapasable.panel-danger .tab-wrap>div:nth-child(2) span::after, div#divWeeklyReviewcollapasable.panel-danger .tab-wrap>div:nth-child(2)>span::after {
    border-color: #ebccd1;
}

 div#divWeeklyReviewcollapasable.panel-info .tab-wrap:nth-child(1)>div:nth-child(1)>span::after{
     border-color: #31708f;
}

div#divReviewcollapasable.panel-success .tab-wrap>div:nth-child(2) span::after, div#divWeeklyReviewcollapasable.panel-success .tab-wrap>div:nth-child(2)>span::after {
    border-color: #d6e9c6;
}
div#divReviewcollapasable.panel-info .tab-wrap>div:nth-child(2) span::after, div#divWeeklyReviewcollapasable.panel-info .tab-wrap>div:nth-child(2)>span::after {
    border-color: #bce8f1;
}

div#divWeeklyReviewcollapasable .panel-heading {
    padding: 3px 10px 3px 10px;
}

 
    

div#divReviewcollapasable .tab-wrap span,div#divWeeklyReviewcollapasable .tab-wrap>div> span {
        display: inline-block;
    width: 48%;
    text-align: center;
} 

div#divReviewcollapasable .tab-wrap span.header-Tab,div#divWeeklyReviewcollapasable .tab-wrap span.header-Tab {
  /*//  color: #fff;*/
    font-size   : 10px;
        font-size: 10px;
    height: 100%;
    vertical-align: middle;

}

div#divReviewcollapasable .tab-wrap >div:nth-child(2) span,div#divWeeklyReviewcollapasable .tab-wrap >div:nth-child(2) span {
    font-family: 'Orbitron';
        line-height: 1;
    font-size: 30px;
}

div#divWeeklyReviewcollapasable .tab-wrap:nth-child(1) {
    min-height: 20px;
    color: #31708f;
}
div#divWeeklyReviewcollapasable .tab-wrap:nth-child(6) {
    min-height: 20px;
    color: #31708f;
}

div#divWeeklyReviewcollapasable .tab-wrap:nth-child(6) div:nth-child(2) > span  {
    font-size: 14px !important;
}

div#divWeeklyReviewcollapasable .tab-wrap span.glyphicon {
        position: relative;
    top: 1px;
    font-size: 18px !important;
    display: inline-block;
    font-family: 'Glyphicons Halflings' !important;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

    