.nopadding-left {
    padding-left: 0px;
}

.nopadding-right {
    padding-right: 0px;
}
.modal-content {
    margin-top: 5%;
    margin-bottom: 5%;
}

.noPadding {
    padding-left: 0px;
    padding-right: 0px;
}
.release-header{
    margin-top:-1%;
}
#divNewRelease {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: 1999;
}

th {
    background: #c5c5c5;
}

table {
    border-collapse: collapse;
    border: 1px solid #cdcdcd;
    font: normal 20px arial;
    width: 100%;
}

td, th {
    border: 1px solid #cdcdcd;
    padding: 2px;
}



@media only screen and (max-width: 760px),(min-devise-width: 768px) and (max-device-width: 1024px) {
    /*----2-----*/
    table, thead, tbody, th, td, tr {
        display: block;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding-left: 50%;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border-bottom: 1px solid #ccc;
    }

    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

        td:before {
            position: absolute;
            top: 7px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            font-weight: bold;
        }
        /*----5-----*/
        td:nth-of-type(1):before {
            content: "Version";
        }

        td:nth-of-type(2):before {
            content: "Description";
        }

        td:nth-of-type(3):before {
            content: "Release Date";
        }

    
}
@media only screen and (min-device-width:320px) and (max-device-width:480px) {
 
}

@media only screen and (min-device-width:768px) and (max-device-width:1024px) {
    /*body{
       width:495px;
    }*/
}
.navbar-nav {
    margin: 0;
}

.release-table table th {
    text-align: center;
    background-color: #46b8da;
    border: 1px solid #fff;
    padding: 10px 0 10px 0;
    color: #fff;
    font-size: 20px;
}

.release-table table td {
    font-size: 15px;  
}
.release-table table  th:nth-child(4) {
    background-color: #fff;
}

.release-panel {
    border: 1px solid #dddddd;
    box-shadow: rgb(243, 235, 235);
}
.edit-release {
margin-top:10px;
padding-left:0;
}