.post-heading table th
{
    text-align: center;
    background-color: #46b8da;
    border: 1px solid #fff;
    padding: 10px 0 10px 0;
    color: #fff;
    font-size: 14px;
}

.post-heading table th:nth-child(6)
{
    background-color: #fff;
}

.post-heading table th:nth-child(n+4), table th:nth-child(1), table td:nth-child(n+4), table td:nth-child(1)
{
    width: 15%;
}

.post-heading table button
{
    width: 50% !important;
    margin-left: 34%;
    background-color: #CCC !important;
}

.post-heading table tbody tr:nth-child(odd)
{
    background-color: #CFFAF5;
}

.post-heading table tbody tr:nth-child(even)
{
    background-color: #E7DFF5;
}

.post-heading table tbody tr td:nth-child(6)
{
    background-color: #FFF;
}

.post-heading table td
{
    font-size: 12px;
    text-align: center;
    border: 1px solid #fff;
    padding: 10px 0 10px 0;
}

.panel
{
    overflow: auto;
}

.post .post-heading
{
    height: 100%;
}

.error
{
    color: red;
}

.modal-content
{
    overflow: auto;
}


.no-left-margin
{
    margin-left: 0;
    padding-left: 0;
}

.no-right-margin
{
    margin-right: 0;
    padding-right: 0;
}

#divAddEditSession.modal-dialog
{
    width: 80% !important;
}

#divAddEditSession
{
    position: absolute;
    left: 10%;
    top: 16%;
}

/*Custom checkbox*/
.custom-checkbox
{
    position: relative;
    display: inline-block;
    float: left;
    padding-right: 5px;
}

 .custom-checkbox > .box
 {
     position: relative;
     display: block;
     width: 20px;
     height: 20px;
     border: 1px solid #838383;
     background-color: #ffffff;
     border-radius: 10px;
 }

 .custom-checkbox > .box > .tick
 {
     display: none;
     width: 12px;
     height: 12px;
     border-radius: 6px;
     position: absolute;
     top: 3px;
     box-shadow: inset 10px -7px 2px #838383;
     left: 3px;
 }

 .custom-checkbox > input:checked + .box > .tick
 {
     display: block;
 }

 .custom-checkbox > input
 {
     position: absolute;
     outline: none;
     top: 0;
     padding: 0;
     width: 16px;
     height: 16px;
     border: none;
     margin: 0;
     opacity: 0;
     z-index: 1;
     width: 50px;
 }

 .custom-checkbox > input:active + .box
 {
     border-color: #838383;
     background-color: #ffffff;
 }

.label-for-checkbox
{
    display: inline-block;
}

.contentSubSectionElements > div
{
    background: #f7fafc;
    border-top: #ccc 2px solid;
    border-radius: 5px;
    border: #cccccc 1px solid;
    padding-left: 25px;
    padding-right: 25px;
}

.make-checkbox-label-in-align
{
    margin-top: -4px;
}

.feedback-button
{
    margin-top: -5px;
    height: 34px;
}
