
@{
    ViewBag.Title = "UnauthorizedAccess";
}

<div style="color:red;font-size:x-large">
    <span>You are not authorized to view this page!!</span>
</div>
@section Scripts
{
    <script src="~/Scripts/Custom/Unauthorized.js"></script>
}