@{
    ViewBag.Title = "UnauthorizedAccess";
}

<div style="
    display: inline-block;
    position: absolute;
    top: 40%;
    left: 40%;
    
">
                


<div >
    <span style="color:red;font-size: 200px; display: block">404</span>
    <span style="color:blue;font-size: 100px; display: block  ;   margin-left: -146px;">Page Not Found :(</span>
</div>


            </div>

@section Scripts
{
    <script src="~/Scripts/Custom/Unauthorized.js"></script>
}