
@{
    ViewBag.Title = "DatePicker";
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
@*<link href="~/Content/DatePicker/bootstrap-datepicker3.css" rel="stylesheet" />*@
<link href="~/Content/DatePicker/bootstrap-datepicker.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

<h2>DatePicker</h2>

<div id="target">
    <div class="input-group  input-daterange">
        <span class="input-group-addon">Start Date</span>
        <input name="StartDate" class="date-picker form-control" id="StartDate" type="text" data-bind="datepicker: StartDate">
        <span class="input-group-addon">End Date</span>
        <input name="EndDate" class="date-picker form-control" id="EndDate" type="text" data-bind="datepicker: EndDate">
    </div>
    @*<div>
        <button class="btn btn-primary" data-bind="click: Clear">Clear</button>
    </div>*@
    
    <div class="input-daterange input-group" id="datepicker">
        <input type="text" data-bind="datepicker: '07/22/2016'" class="date-picker input-sm form-control" name="start" />
        <span class="input-group-addon">to</span>
        <input type="text" data-bind="datepicker: '07/22/2016'" class="date-picker input-sm form-control" name="end" />
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
@*<script src="~/Scripts/knockout-3.4.0.debug.js"></script>*@
<script src="~/Scripts/knockout-3.4.0.js"></script>
<script src="~/Scripts/bootstrap-datepicker.min.js"></script>
<script src="~/Scripts/Custom/BindingHandlers.js"></script>
@*<script src="~/Scripts/Custom/App.js"></script>*@
<script src="~/Scripts/Test.js"></script>